@addTagHelper *,Microsoft.AspNetCore.MVC.TagHelpers

<!DOCTYPE html>
<html>
<head>
	<style>
div.relative {
  position: relative;
  width: 400px;
  height: 200px;
} 

div.absolute {
  position: absolute;
  top: 80px;
  right: -20;
  width: 200px;
  height: 100px;
}
</style>
<title>plant Shop</title>
</head>
<body>




</body>
</html>