@addTagHelper *,Microsoft.AspNetCore.MVC.TagHelpers

<div class="container">
  <br /><br /><br /><br /><br />

  <div class="row">   
    <div class="col-4">
        <h1 class="fs-2" style="font-family:verdana">Find perfect plants for your home</h1>
        <br/>
        <p class="fs-4">Beautiful plants that encourage you to get creative. </p>       
        <button type="button" class="btn btn-dark">Shop Now</button>

        </div>
     <div class="col-8"> <img src="~/Assest/home1.jpg"align="right" class="rounded-4" alt="..."></div>
  </div>
</div>

