@addTagHelper *,Microsoft.AspNetCore.MVC.TagHelpers

<img class="block" id="u730_img" src="~/Assest/123.jpg" alt="" width="1529" height="659"/>
 <div class="row">
    <div class="col container">
        <div class="col-10">
           
           
                <img class="float-left p-2" src="~/Assest/123.jpg" height="150" />

           
        </div>
    </div>
</div>