@page
@model E_Commerce_App.Pages.CartRazModel
@{
}
@if(Model.products.Count == 0)
{
	<p>There is no products...</p>
}
else
{
	@foreach (var item in Model.products)
	{
		<ul>
			<li>
				@item.Name
			</li>
		</ul>
	}
}
