<form method="post" action="/auth/SignUp">
    <label>name</label>
    <input name="UserName"/>
        <label>Password</label>

    <input type="password" name="Password"/>
      <label>Email</label>
    <input  name="Email"/>
    <button type="submit">Signup</button> 
</form>